body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  form {
    width: 80%; /* Adjusted width */
    max-width: 400px; /* Added max-width */
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    flex: 1; /* Make them take equal space */
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  footer {
    margin-top: 20px;
  }
  
  footer p {
    font-size: 14px;
    opacity: 0.7;
  }
  
  /* Media Query for Mobile Responsive */
  @media only screen and (max-width: 600px) {
    form {
      width: 90%; /* Adjusted width for smaller screens */
    }
  }
  